#Strona {
    width: 100%;
    background-color: white;
}

#Naglowek {
    border: 1px solid black; height: auto;
}

#Logo {
    padding: 10px;
    border-width: 1px;
    border-color:black;
}

/* Selector creating a Menu section */
#Menu {
    width: 100%;
    padding-top: 30px;
    float: left;
    height: 250px;
    font: bold; color: white;
    background-color: black;
}

#PoleNav {
    background-color: white;
    min-height: 80px;
    width: initial;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

#PoleNav2 {
    background-color: black;
    min-height: 60px;
    width: initial;
    padding: 10px;
}

/* Selector creating Sign In section */
#ObszarLogowania {
    padding-top: 20px;
    padding: 20px;
    text-align: right;
    background-color:lightblue;
}

#YellowFont {
    width:50%;
    padding-left: 80px;
    float:left;
    font-size: 30px;
    color: yellow;
}

#PierwszyObszarBoczny { width: 200px; height: 300px; float: left; background-color: white;}
#DrugiObszarBoczny { width: 200px; height: 300px; float: right; background-color: white;}
#ObszarRoboczy { background-color: darkgray; }

.dual1 {
    width: 100%;
    padding-left: 40px;
    padding-bottom: 20px;
    float: left;
    font: bold;
    font-size: 40px;
}

.dual2 {
    margin: 20px;
    padding-left: 40px;
    float:right;
    font: bold;
    font-size: 40px;
}

.first {
    float: left;
    color:lightblue;
}


.rest {
    color: white;
}


/* Class-type selector for creating a Menu's elements */
.option {
    background-color: #444444;
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border: 5px solid yellow;
    opacity: 0.8;
}

/* Pseudo-class enabling highlighting of an element in Menu section*/
.option:hover {
    background-color: #000000;
    cursor: pointer;
}

